.languages {

    display: flex;

    &__item {
        flex: 1;
        padding: 2rem 0;
    }

    &__title {
        font-size: 1.4rem;
        font-weight: 400;
    }

    &__proficiency {
        font-size: 1.4rem;
        font-style: italic;
        color: $color-teriary;
    }

    
}